/* || general styles */

body {
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #242424;

    /* weights: 200 400 600 are loaded */
}

h1 {
    font-size: 2.6em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    /* color: #868686; */
    font-weight: 200;
}

h4 {
    font-size: 1.5em;
    font-weight: 400;
}

h5 {
    font-size: 1.2em;
    font-weight: 600;
}

p {
    margin-bottom: 1em;
    line-height: 1.3em;
}

a {
    color: #868686;
    text-decoration: none;
}

a#current {
    color: black;
}

a:hover {
    color: black;
}

.italics {
    font-style: italic;
}

.sub-heading {
    text-transform: uppercase;
}

/* || other global styles */
header {
    grid-area: h;
    text-transform: uppercase;    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ececec;
    width: 100vw;
    position: fixed;
    z-index: 10;
}

header img {
    width: 200px;
    padding: 0.5em;
}

main {
    padding-top: 4.5em;
}

footer {
    grid-area: f;
    background-color: #868686;
    padding-top: 2em;
    padding-bottom: 2em;
}

.wrapper {
    margin: 0 30px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
    padding: 1em;
}

/* || index */
.index-hero {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: -5;
    
    background: url(../images/hall1.jpeg);   
    background-size: cover;
    background-position: center center;
}

.index-hero-info {
    width: 50%;
    height: auto;
    padding: 1em;
    background-color: white;
    position: relative;
    left: 1em;
    top: 40em;
}

/* || gallery page */
.gallery-header {
    grid-area: gh;
    display: flex;
    margin: 1em;
}

.gallery-tiles {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "gh gh gh gh gh gh gh gh gh gh gh gh" 
        "ba ba ba ba bb bb bb bb bh bh bh bh"
        "bj bj bj bj bp bp bp bp bq bq bq bq"
        ;
}

.box{
    height: 20em;
    width: 100%;

}

.box a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
}

.box a:hover {
    color: #287ff1;
}

.name { 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
    
/* background-position is repeated because images differ */
.box.anthes {
    background-image: url(../images/anthes1.jpeg);
    background-position: center center;
    grid-area: ba;
}

.box.booth {
    background-image: url(../images/booth1.jpeg);
    background-position: center bottom;
    grid-area: bb;
}

.box.hall {
    background-image: url(../images/hall1.jpeg);
    background-position: center center;
    grid-area: bh;
}

.box.johns {
    background-image: url(../images/johns1.jpeg);
    background-position: center center;
    grid-area: bj;
}

.box.poliness {
    background-image: url(../images/poliness1.jpeg);
    background-position: center center;
    grid-area: bp;
}

.box.quinlivan {
    background-image: url(../images/quinlivan1.jpeg);
    background-position: center center;
    grid-area: bq;
}

/* || artist pages */
.artist {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-auto-rows: minmax(50px, auto); */
    grid-template-areas: 
        /* "h h h h h h h h h h h h" */
        "a a a a a a a a a a a a"
        "ah ah ah ah ah ah ah ah ah ah ah ah"
        "ai ai ai ai ai ai ai ai ai ai ai ai"
        "m m m m m m m . . ad ad ad"
        /* "f f f f f f f f f f f f" */

}

.artist-header {
    display: flex;
    justify-content: space-between;
    grid-area: ah;
    margin-top: -0.4em;
    padding: 1em;

    /* margin: 1em; */
    /* margin-top: 1.5em; */
}

.artist-hero {
    width: 100%;
    height: 80vh;
    background-size: cover;
    grid-area: ai;
    margin-bottom: 1em;
}

    /* .arrow {
        margin-top: 75vh;
        align-items: center;
    } */

.artist-main {
    background: #fff;
    grid-area: m;
}

.artist-details {
    grid-area: ad;
}

/* | hero images */
.artist-hero.anthes {
    background-image: url(../images/anthes1.jpeg);
    background-position: center center;
}

.artist-hero.booth {
    background-image: url(../images/booth1.jpeg);
    background-position: center bottom;
}

.artist-hero.hall {
    background-image: url(../images/hall1.jpeg);
    background-position: center center;
}

.artist-hero.johns {
    background-image: url(../images/johns1.jpeg);
    background-position: center bottom;
}

.artist-hero.poliness {
    background-image: url(../images/poliness1.jpeg);
    background-position: center center;
}

.artist-hero.quinlivan {
    background-image: url(../images/quinlivan1.jpeg);
    background-position: center center;
}

/* || donate */
form {
    width: 60%;
    padding: 2em;
}

form-element {
    margin-bottom: 1.5em;
}

label {
    display: block;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #cecece;
    border-radius: 6px;
}

input[type=text]:focus {
    border: 1px solid #555;
}

input[type=button], 
input[type=submit], 
input[type=reset] {
    background-color: #000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 40px 2px;
    cursor: pointer;
    border-radius: 6px;
}

/* || about */
.about-main {
    margin-bottom: 10em;
}

.about-image {
    width: 15em;
}

.about-image img {
    width: 100%;
    /* margin-right: 30px; */
}

.team-details {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "xa xa xa xa xa xa xa . . ya ya ya"
        "xb xb xb xb xb xb xb . . yb yb yb"
        "xc xc xc xc xc xc xc . . yc yc yc"
        "xd xd xd xd xd xd xd . . yd yd yd"
        "xe xe xe xe xe xe xe . . ye ye ye"
        "xf xf xf xf xf xf xf . . yf yf yf"
        "xg xg xg xg xg xg xg . . yg yg yg"
        "xh xh xh xh xh xh xh . . yh yh yh"
        ;
}

.about-a {
    grid-area: xa;
}

.about-a-i {
    grid-area: ya;
}

.about-b {
    grid-area: xb;
}

.about-b-i {
    grid-area: yb;
}

.about-c {
    grid-area: xc;
}

.about-c-i {
    grid-area: yc;
}

.about-d {
    grid-area: xd;
}

.about-d-i {
    grid-area: yd;
}

.about-e {
    grid-area: xe;
}

.about-e-i {
    grid-area: ye;
}

.about-f {
    grid-area: xf;
}

.about-f-i {
    grid-area: yf;
}

.about-g {
    grid-area: xg;
}

.about-g-i {
    grid-area: yg;
}

.about-h {
    grid-area: xh;
}

.about-h-i {
    grid-area: yh;
}

/* media queries */

    @media (max-width: 42em) {
        .artist{
            grid-template-areas: 
                "ah ah ah ah ah ah ah ah ah ah ah ah"
                "ai ai ai ai ai ai ai ai ai ai ai ai"
                "ad ad ad ad ad ad ad ad ad ad ad ad"
                "m m m m m m m m m m m m"
                ;
        }

        h3 {
            font-size: 1.2em;
            margin-bottom: 1em;
        }
        .gallery-tiles {
            grid-template-areas:
                "gh gh gh gh gh gh gh gh gh gh gh gh" 
                "ba ba ba ba ba ba ba ba ba ba ba ba"
                "bb bb bb bb bb bb bb bb bb bb bb bb"
                "bh bh bh bh bh bh bh bh bh bh bh bh"
                "bj bj bj bj bj bj bj bj bj bj bj bj"
                "bp bp bp bp bp bp bp bp bp bp bp bp"
                "bq bq bq bq bq bq bq bq bq bq bq bq"
                ;
        }
    }

/*     
    .box{
        height: 20em;
        width: 100vw;
} */

    @media (min-width: 42em) and (max-width: 70em) {
        .artist{
            grid-template-areas:
                /* "h h h h h h h h h h h h" */
                "ah ah ah ah ah ah ah ah ah ah ah ah"
                "ai ai ai ai ai ai ai ai ai ai ai ai"
                "m m m m m m m m ad ad ad ad";
                /* "f f f f f f f f f f f f" */
        }

        .gallery-tiles {
            grid-template-areas:
                "gh gh gh gh gh gh gh gh gh gh gh gh" 
                "ba ba ba ba ba ba bb bb bb bb bb bb"
                "bh bh bh bh bh bh bj bj bj bj bj bj"
                "bp bp bp bp bp bp bq bq bq bq bq bq"
                ;
        }
    }


    @media (max-width: 60em) {
        .team-details {
            grid-template-areas:
                "ya ya ya ya ya ya ya ya ya ya ya ya"
                "xa xa xa xa xa xa xa xa xa xa xa xa"
                "yb yb yb yb yb yb yb yb yb yb yb yb"
                "xb xb xb xb xb xb xb xb xb xb xb xb"
                "yc yc yc yc yc yc yc yc yc yc yc yc"
                "xc xc xc xc xc xc xc xc xc xc xc xc"
                "yd yd yd yd yd yd yd yd yd yd yd yd"
                "xd xd xd xd xd xd xd xd xd xd xd xd"
                "ye ye ye ye ye ye ye ye ye ye ye ye"
                "xe xe xe xe xe xe xe xe xe xe xe xe"
                "yf yf yf yf yf yf yf yf yf yf yf yf"
                "xf xf xf xf xf xf xf xf xf xf xf xf"
                "yg yg yg yg yg yg yg yg yg yg yg yg"
                "xg xg xg xg xg xg xg xg xg xg xg xg"
                "yh yh yh yh yh yh yh yh yh yh yh yh"
                "xh xh xh xh xh xh xh xh xh xh xh xh"
                ;
        }
        .about-main {
            margin-bottom: 5em;
        }
        .team-details img {
            margin-bottom: 2em;
        } 
    }

    /* @media (max-width: 42em) {
        .box{
            height: 10em;
    }
} */
    