/* || general styles */

body {
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #242424;

    /* weights: 200 400 600 are loaded */
}

h1 {
    font-size: 2.6em;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5em;
    font-weight: 200;
}

h4 {
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 1em;
}

h5 {
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 1em;
}

h6 {
    font-size: 1em;
    font-weight: 400;
    margin-left: 1em;
    margin-right: 1em;
}

p {
    margin-bottom: 1em;
    line-height: 1.3em;
}

a {
    color: #868686;
    text-decoration: none;
    transition: 0.2s;
}

a#current {
    color: black;
}

a:hover {
    color: black;
}

.italics {
    font-style: italic;
}

.sub-heading {
    text-transform: uppercase;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

/* || other global styles */
header {
    grid-area: h;
    text-transform: lowercase;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background-color: #fafafa;
    border-bottom: #d8d8d8 1px solid;
    width: 100vw;
    position: fixed;
    z-index: 10;
}

header img {
    width: 200px;
    padding: 0.5em;
}

main {
    border-bottom: #d8d8d8 1px solid;
    background-color: #fafafa;
}

footer {
    grid-area: f;
    background-color: #fafafa;
    border-top: #d8d8d8;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

footer img {
    width: 1em;
}

footer ul {
    display: flex;
}

footer li {
    padding-left: 1em;
}

.wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
}

#hamburger-items {
    display: flex;
}

#hamburger-items a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1em;
}

#hamburger-nav label,
#hamburger {
    display: none;
}

input {
    font-family: 'Jost', sans-serif;
}

.centre {
    text-align: center;
    padding: 1em;
}

.border {
    border-top: #d8d8d8 1px solid;
    border-bottom: #d8d8d8 1px solid;
}

.background {
    background-color: #fafafa;
}

.upper {
    padding-top: 70px;
}

.hero {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: -5;
    background-size: cover;
    background-position: center center;
}

.hero-info {
    width: 50%;
    height: auto;
    padding: 1em;
    background-color: #fafafa;
    position: relative;
    left: 1em;
}

/* || index */
.index {
    padding: 2em;
    background-color: #fafafa;
    border: #d8d8d8 1px solid;
}

.index-hero {
    background: url(../images/hall1.jpeg);
    background-size: cover;
    background-position: center center;
}

.index-hero-info {
    top: 70vh;
}

.map iframe {
    width: 90%;
    height: 30em;
    margin-left: 2em;
}

.map {
    grid-area: imb;
}

.map-info {
    grid-area: ima;
}

.map-details {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "ima ima ima ima ima imb imb imb imb imb imb imb";
}

.index-gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "ba ba ba ba bp bp bp bp bq bq bq bq";
}

.index-gallery>.box {
    height: 15em;
}

.donate-banner {
    background-color: #fff;
    height: 4em;
    background-image: url(../images/donate.png);
    background-repeat: repeat-x;
    background-position: center;
    transition: 0.2s;

}

.donate-banner:hover {
    background-image: url(../images/donate2.png);
}

.inews {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "ina ina ina ina ina ina inb inb inb inb inb inb";
}

.index-news-a {
    grid-area: ina;
}

.index-news-b {
    grid-area: inb;
}

.news-tile-index {
    width: 100%;
    height: 35em;
    display: flex;
    flex-direction: column;
    border: #d8d8d8 1px solid;
}

.news-tile-index img {
    object-fit: cover;
    padding-bottom: 1em;
    width: 100%;
}

.news-tile-index h2,
.news-tile-index p {
    padding: 0 20px;
}

/* || gallery page */
.gallery-header {
    grid-area: gh;
    display: flex;
    padding: 1em;
}

.gallery-tiles {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "gh gh gh gh gh gh gh gh gh gh gh gh"
        "ba ba ba ba bb bb bb bb bb bb bb bb"
        "bh bh bh bh bh bh bh bh bj bj bj bj"
        "bp bp bp bp bq bq bq bq bq bq bq bq"
        "gi gi gi gi gi gi gi . . . . ."
    ;
}

.box {
    height: 20em;
    width: 100%;
    background-size: cover;
}

.box a {
    width: 100%;
    height: 100%;
    display: block;
    color: #000;
    /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0);
    transition: 0.2s;
}

.gallery-info {
    margin: 2em;
}

/* names appear on hover on desktop, always visible on tablets/mobiles see @media at end, background slightly darker to increase visibility of white text over bright images */
.box a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.name {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-size: cover;
}

/* background-position is repeated because images differ */
.box.anthes {
    background-image: url(../images/anthes1.jpg);
    background-position: center center;
    grid-area: ba;
}

.box.booth {
    background-image: url(../images/booth1.jpeg);
    background-position: center bottom;
    grid-area: bb;
}

.box.hall {
    background-image: url(../images/hall1.jpeg);
    background-position: center center;
    grid-area: bh;
}

.box.johns {
    background-image: url(../images/johns1.jpeg);
    background-position: center center;
    grid-area: bj;
}

.box.poliness {
    background-image: url(../images/poliness1.jpeg);
    background-position: center center;
    grid-area: bp;
}

.box.quinlivan {
    background-image: url(../images/quinlivan1.jpeg);
    background-position: center center;
    grid-area: bq;
}

.gallery-info {
    grid-area: gi;
}

/* || artist pages */
.artist {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "a a a a a a a a a a a a"
        "ah ah ah ah ah ah ah ah ah ah ah ah"
        "ai ai ai ai ai ai ai ai ai ai ai ai"
        "m m m m m m m . . ad ad ad"
}

.artist-header {
    display: flex;
    justify-content: space-between;
    grid-area: ah;
    padding: 1em;
}

.artist-hero {
    width: 100%;
    height: 80vh;
    background-size: cover;
    grid-area: ai;
    margin-bottom: 1em;
}

.artist-main {
    grid-area: m;
}

.artist-details {
    grid-area: ad;
}

/* | hero images */
.artist-hero.anthes {
    background-image: url(../images/anthes1.jpg);
    background-position: center center;
}

.artist-hero.booth {
    background-image: url(../images/booth1.jpeg);
    background-position: center bottom;
}

.artist-hero.hall {
    background-image: url(../images/hall1.jpeg);
    background-position: center center;
}

.artist-hero.johns {
    background-image: url(../images/johns1.jpeg);
    background-position: center bottom;
}

.artist-hero.poliness {
    background-image: url(../images/poliness1.jpeg);
    background-position: center center;
}

.artist-hero.quinlivan {
    background-image: url(../images/quinlivan1.jpeg);
    background-position: center center;
}

/* || donate */
form {
    padding: 2em;
    background-color: #fff;
}

form-element {
    margin-bottom: 1.5em;
}

label {
    display: block;
    padding-top: 20px;
}

.radio label {
    display: inline;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #cecece;
    border-radius: 6px;
}

input[type=text]:focus {
    border: 1px solid #555;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 40px 2px;
    cursor: pointer;
    border-radius: 6px;
}

input[type=textarea] {
    height: 4em;
    width: 100%;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #cecece;
    border-radius: 6px;
}

.split {
    display: flex;
    width: 100%;
}

.left-form,
.right-form {
    width: 50%;
}

.right-form {
    padding-left: 0.5em;
}

.donate-hero {
    background-image: url(../images/quinlivan1.jpeg);
}

.donate-hero-info {
    top: 70vh;
}

.form {
    background-image: url(../images/johns1.jpeg);
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        ". . df df df df df df df df . .";
}

.details-form {
    grid-area: df;
    margin-top: 3em;
    margin-bottom: 3em;
}

.details-form p {
    padding-top: 1em;
}

.support-1 {
    grid-area: sa;
}

.support-2 {
    grid-area: sb;
}

.support-3 {
    grid-area: sc;
}

.support-4 {
    grid-area: sd;
}

.supporters {
    padding: 5em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "sa sa sa sb sb sb sc sc sc sd sd sd";
}

.supporters h1 {
    margin-bottom: 0px;
}

.supporters>.hero-info {
    height: auto;
}

/* || about */
.about {
    height: 100vh;
}

.about-hero {
    background: url(../images/poliness1.jpeg);
    background-size: cover;
    background-position: center center;
}

.about-hero-info {
    top: 65vh;
}

.about-main {
    margin-bottom: 5em;
}

.about-image {
    width: 15em;
}

.about-image img {
    width: 100%;
}

.team-details {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        ". ya ya ya xa xa xa xa xa xa xa ."
        ". yb yb yb xb xb xb xb xb xb xb ."
        ". yc yc yc xc xc xc xc xc xc xc ."
        ". yd yd yd xd xd xd xd xd xd xd ."
        ". ye ye ye xe xe xe xe xe xe xe ."
        ". yf yf yf xf xf xf xf xf xf xf ."
        ". yg yg yg xg xg xg xg xg xg xg ."
        ". yh yh yh xh xh xh xh xh xh xh .";
}

.about-a {
    grid-area: xa;
}

.about-a-i {
    grid-area: ya;
}

.about-b {
    grid-area: xb;
}

.about-b-i {
    grid-area: yb;
}

.about-c {
    grid-area: xc;
}

.about-c-i {
    grid-area: yc;
}

.about-d {
    grid-area: xd;
}

.about-d-i {
    grid-area: yd;
}

.about-e {
    grid-area: xe;
}

.about-e-i {
    grid-area: ye;
}

.about-f {
    grid-area: xf;
}

.about-f-i {
    grid-area: yf;
}

.about-g {
    grid-area: xg;
}

.about-g-i {
    grid-area: yg;
}

.about-h {
    grid-area: xh;
}

.about-h-i {
    grid-area: yh;
}

/* || news */
.news-tiles-container {
    margin-left: 2em;
    margin-right: 2em;
}

.news-tile {
    width: 100%;
    height: 35em;
    display: flex;
    flex-direction: column;
    border: #d8d8d8 1px solid;
}

.news-tile img {
    height: 20em;
    object-fit: cover;
    padding-bottom: 1em;
    width: 100%;
}

.news-tile h2,
.news-tile p {
    padding: 0 20px;
}

.news-tiles {
    padding-top: 4.3em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
    grid-template-areas:
        "na na na na nb nb nb nb nc nc nc nc"
        "nd nd nd nd ne ne ne ne nf nf nf nf";
}

.news-a {
    grid-area: na;
}

.news-b {
    grid-area: nb;
}

.news-c {
    grid-area: nc;
}

.news-d {
    grid-area: nd;
}

.news-e {
    grid-area: ne;
}

.news-f {
    grid-area: nf;
}

.video iframe {
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
    display: block;
}

.news-header {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    background-color: #fafafa;
}

/* || guide */

.guide-hero {
    background-image: url(../images/booth1.jpeg);
}

.guide-hero-info {
    top: 70vh;
}

.guide-details {
    grid-area: wo;
    padding: 2em;
    background-color: #fafafa;
}

.guide {
    background-image: url(../images/johns1.jpeg);
    background-size: cover;
    background-position: center bottom;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        ". . wo wo wo wo wo wo wo wo . .";
}

/* || media queries */

@media (max-width: 42em) {
    .artist {
        grid-template-areas:
            "ah ah ah ah ah ah ah ah ah ah ah ah"
            "ai ai ai ai ai ai ai ai ai ai ai ai"
            "ad ad ad ad ad ad ad ad ad ad ad ad"
            "m m m m m m m m m m m m"
        ;
    }

    h3 {
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    .gallery-tiles {
        grid-template-areas:
            "gh gh gh gh gh gh gh gh gh gh gh gh"
            "ba ba ba ba ba ba ba ba ba ba ba ba"
            "bb bb bb bb bb bb bb bb bb bb bb bb"
            "bh bh bh bh bh bh bh bh bh bh bh bh"
            "bj bj bj bj bj bj bj bj bj bj bj bj"
            "bp bp bp bp bp bp bp bp bp bp bp bp"
            "bq bq bq bq bq bq bq bq bq bq bq bq"
            "gi gi gi gi gi gi gi gi gi gi gi gi"
        ;
    }

    nav {
        display: block;
    }

    #hamburger-items a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        margin-right: 2em;
    }

    #hamburger-nav label {
        display: inline-block;
        display: flex;
        justify-content: flex-end;
    }

    #hamburger-items {
        display: none;
    }

    #hamburger-nav input:checked~#hamburger-items {
        display: block;
    }

    #hamburger~label {
        cursor: pointer;
        padding: 8px;
        display: flex;
        align-items: center;
        z-index: 99;
        margin-top: 15px;
    }

    #hamburger {
        display: none;
    }

    /* middle line of hamburger */
    #hamburger~label span {
        display: inline-block;
        width: 20px;
        height: 3px;
        background-color: #868686;
        border-radius: 3px;
        margin-left: var(--space-small);
    }

    /* top and bottom lines of hamburger */
    #hamburger~label span::after,
    #hamburger~label span::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: #868686;
        border-radius: 3px;
    }

    #hamburger~label span::after {
        margin-top: 8px;
    }

    #hamburger~label span::before {
        margin-top: -8px;
    }

    #hamburger~label span {
        transition-duration: 0s;
        transition-delay: 0.2s;
    }

    #hamburger~label span::after,
    #hamburger~label span::before {
        transition-duration: 0.2s;
        transition-property: margin, transform;
        transition-delay: 0.2s, 0s;
    }

    /* hide middle line */
    #hamburger:checked~label span {
        background-color: transparent;
    }

    /* top and bottom lines animation */
    #hamburger:checked~label span:before,
    #hamburger:checked~label span:after {
        transition-delay: 0s, 0.2s;
        margin-top: 0;
    }

    /* rotate top line */
    #hamburger:checked~label span:before {
        transform: rotate(45deg);
    }

    /* rotate bottom line */
    #hamburger:checked~label span:after {
        transform: rotate(-45deg);
    }

    .index-hero-info {
        top: 50vh;
    }

    .index-hero-info h1 p {
        margin: 1em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.4em;
    }

    .about-hero-info {
        top: 40vh;
        width: 70%;
    }

    .about-hero-info h4 {
        font-size: 1.2em;
    }

    .about-hero-info p {
        font-size: 0.9em;
    }

    .donate-hero-info {
        top: 45vh;
    }

    .guide-hero-info {
        top: 50vh;
    }

    .news-tiles {
        grid-template-areas:
            "na na na na na na na na na na na na"
            "nb nb nb nb nb nb nb nb nb nb nb nb"
            "nc nc nc nc nc nc nc nc nc nc nc nc"
            "nd nd nd nd nd nd nd nd nd nd nd nd"
            "ne ne ne ne ne ne ne ne ne ne ne ne"
            "nf nf nf nf nf nf nf nf nf nf nf nf";
    }

    .inews {
        grid-template-areas:
            "ina ina ina ina ina ina ina ina ina ina ina ina"
            "inb inb inb inb inb inb inb inb inb inb inb inb";
    }

    .news-tile-index {
        height: 30em;
    }

    .map-details {
        grid-template-areas:
            "ima ima ima ima ima ima ima ima ima ima ima ima"
            "imb imb imb imb imb imb imb imb imb imb imb imb ";
    }

    .map iframe {
        width: 100%;
        height: 30em;
        margin-left: 0;
    }

    .split {
        display: block;
    }

    .left-form,
    .right-form {
        width: 100%;
    }

    .right-form {
        padding-left: 0;
    }

    .supporters {
        grid-template-areas:
            "sa sa sa sa sa sa sa sa sa sa sa sa"
            "sb sb sb sb sb sb sb sb sb sb sb sb"
            "sc sc sc sc sc sc sc sc sc sc sc sc"
            "sd sd sd sd sd sd sd sd sd sd sd sd";
    }

    .support-1,
    .support-2,
    .support-3,
    .support-4 {
        padding: 2em;
    }
}

@media (min-width: 42em) and (max-width: 70em) {
    .artist {
        grid-template-areas:
            "ah ah ah ah ah ah ah ah ah ah ah ah"
            "ai ai ai ai ai ai ai ai ai ai ai ai"
            "m m m m m m m m ad ad ad ad";
    }

    .gallery-tiles {
        grid-template-areas:
            "gh gh gh gh gh gh gh gh gh gh gh gh"
            "ba ba ba ba ba ba ba ba ba ba ba ba"
            "bb bb bb bb bb bb bh bh bh bh bh bh"
            "bj bj bj bj bj bj bj bj bj bj bj bj"
            "bp bp bp bp bp bp bq bq bq bq bq bq"
            "gi gi gi gi gi gi gi gi gi gi gi gi"
        ;
    }

    .news-tiles {
        grid-template-areas:
            "na na na na na na nb nb nb nb nb nb"
            "nc nc nc nc nc nc nd nd nd nd nd nd"
            "ne ne ne ne ne ne nf nf nf nf nf nf";
    }

    .about-hero-info {
        top: 50vh;
        width: 70%;
    }

}


@media (max-width: 60em) {
    .team-details {
        grid-template-areas:
            "ya ya ya ya ya ya ya ya ya ya ya ya"
            "xa xa xa xa xa xa xa xa xa xa xa xa"
            "yb yb yb yb yb yb yb yb yb yb yb yb"
            "xb xb xb xb xb xb xb xb xb xb xb xb"
            "yc yc yc yc yc yc yc yc yc yc yc yc"
            "xc xc xc xc xc xc xc xc xc xc xc xc"
            "yd yd yd yd yd yd yd yd yd yd yd yd"
            "xd xd xd xd xd xd xd xd xd xd xd xd"
            "ye ye ye ye ye ye ye ye ye ye ye ye"
            "xe xe xe xe xe xe xe xe xe xe xe xe"
            "yf yf yf yf yf yf yf yf yf yf yf yf"
            "xf xf xf xf xf xf xf xf xf xf xf xf"
            "yg yg yg yg yg yg yg yg yg yg yg yg"
            "xg xg xg xg xg xg xg xg xg xg xg xg"
            "yh yh yh yh yh yh yh yh yh yh yh yh"
            "xh xh xh xh xh xh xh xh xh xh xh xh";
    }

    .about-main {
        margin-bottom: 5em;
    }

    .team-details img {
        margin-bottom: 2em;
    }

    .box a {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .index-gallery {
        grid-template-areas:
            "ba ba ba ba ba ba ba ba ba ba ba ba"
            "bp bp bp bp bp bp bp bp bp bp bp bp"
            "bq bq bq bq bq bq bq bq bq bq bq bq";
    }

}