/* || general styles */

body {
    font-size: 16px;
    font-family: sans-serif;
    color: #242424;
}

h1 {
    font-size: 2.6em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    color: #868686;
    font-weight: 200;
}

p {
    margin-bottom: 1em;
    line-height: 1.3em;
}

a {
    color: #868686;
    text-decoration: none;
}

    a#current {
        color: black;
    }
    a:hover {
        color: black;
    }

.italics {
    font-style: italic;
}

.sub-heading {
    text-transform: uppercase;
}

.name a {
    color: #fff;
    
}

/* p h3 h4 h5 h6 ul ol */




/* || header, main nav, footer */

header {
    grid-area: h;
    text-transform: uppercase;
}

footer {
    grid-area: f;
    background-color: #868686;
    padding-top: 2em;
    padding-bottom: 2em;
}

.wrapper {
    margin: 0 30px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}
    nav li {
        padding: 1em;
    }

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

    header img {
        width: 200px;
        /* height: 100%; */
        padding: 0.5em;
    }



/* || gallery page */

/* .gallery {
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-column-gap: 0em;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "gh gh gh gh gh gh gh gh gh gh gh gh"
    "gt gt gt gt gt gt gt gt gt gt gt gt"
    /* "gh gh gh gh gh gh gh gh gh gh gh gh" */
    /* "f f f f f f f f f f f f"
    ; */

    /* display: flex;
    flex-direction: column; */

    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "gh . ."
    "gt gt gt"
    "gt gt gt"
    "gh . ."; */


.gallery-header {
    grid-area: gh;
    display: flex;

}



.gallery-tiles {
    grid-area: gt;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
    "h h h h h h h h h h h h"
    "gh gh gh gh gh gh gh gh gh gh gh gh" 
    "ba ba ba ba bb bb bb bb bh bh bh bh"
    "bj bj bj bj bp bp bp bp bq bq bq bq"
    ;

    /* grid-template-columns: 1fr, 1fr, 1fr; */

}

    .box{
        height: 20em;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .box.anthes {
            background-image: url(../images/anthes1.jpeg);
            background-size: cover;
            background-position: center center;
            grid-area: ba;
            /* grid-column-start: 1;
            grid-column-end: 5; */
        }

        .box.booth {
            background-image: url(../images/booth1.jpeg);
            background-size: cover;
            background-position: center bottom;
            /* grid-column-start: 5;
            grid-column-end: 9; */
            grid-area: bb;

        }

        .box.hall {
            background-image: url(../images/hall1.jpeg);
            background-size: cover;
            background-position: center center;
            /* grid-column-start: 9;
            grid-column-end: 13; */
            grid-area: bh;
        }

        .box.johns {
            background-image: url(../images/johns1.jpeg);
            background-size: cover;
            background-position: center bottom;
            /* grid-column-start: 1;
            grid-column-end: 5; */
            grid-area: bj;
        }

        .box.poliness {
            background-image: url(../images/poliness1.jpeg);
            background-size: cover;
            background-position: center center;
            /* grid-column-start: 5;
            grid-column-end: 9; */
            grid-area: bp;
        }

        .box.quinlivan {
            background-image: url(../images/quinlivan1.jpeg);
            background-size: cover;
            background-position: center center;
            /* grid-column-start: 9;
            grid-column-end: 13; */
            grid-area: bq;
        }

    .name {
        /* display: none; */
    }

    .name:hover {
        display:contents;
    }


/* || artist pages */

.artist {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "ah ah ah ah ah ah ah ah ah ah ah ah"
    "ai ai ai ai ai ai ai ai ai ai ai ai"
    "m m m m m m m . . ad ad ad"
    "f f f f f f f f f f f f"

}

.artist-header {
    display: flex;
    justify-content: space-between;
    grid-area: ah;
}

.artist-hero { 
    width: 100%;
    height: 80vh;
    background-size: cover;
    grid-area: ai;
    margin-bottom: 1em;
}

    .arrow {
        margin-top: 75vh;
        align-items: center;
    }

.artist-main {
    background: #fff;
    grid-area: m;
}

.artist-details {
    grid-area: ad;
}

/* | hero images */
    .artist-hero.anthes {
        background-image: url(../images/anthes1.jpeg);
        background-position: center center;
    }
    .artist-hero.booth {
        background-image: url(../images/booth1.jpeg);
        background-position: center bottom;
    }
    .artist-hero.hall {
        background-image: url(../images/hall1.jpeg);
        background-position: center center;
    }
    .artist-hero.johns {
        background-image: url(../images/johns1.jpeg);
        background-position: center bottom;
    }
    .artist-hero.poliness {
        background-image: url(../images/poliness1.jpeg);
        background-position: center center;
    }
    .artist-hero.quinlivan {
        background-image: url(../images/quinlivan1.jpeg);
        background-position: center center;
    }





/* media queries */

@media (max-width: 42em) {
    .artist{
        grid-template-areas: 
        "h h h h h h h h h h h h"
        "ah ah ah ah ah ah ah ah ah ah ah ah"
        "ai ai ai ai ai ai ai ai ai ai ai ai"
        "ad ad ad ad ad ad ad ad ad ad ad ad"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f"
    }

    h3 {
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    .gallery-tiles {    
        grid-template-areas:
        "h h h h h h h h h h h h"
        "gh gh gh gh gh gh gh gh gh gh gh gh" 
        "ba ba ba ba ba ba ba ba ba ba ba ba"
        "bb bb bb bb bb bb bb bb bb bb bb bb"
        "bh bh bh bh bh bh bh bh bh bh bh bh"
        "bj bj bj bj bj bj bj bj bj bj bj bj"
        "bp bp bp bp bp bp bp bp bp bp bp bp"
        "bq bq bq bq bq bq bq bq bq bq bq bq"
        "f f f f f f f f f f f f"
        ;
    }
/*     
    .box{
        height: 20em;
        width: 100vw;
} */

@media (min-width: 42em) and (max-width: 60em){
    .artist{
        grid-template-areas: 
        "h h h h h h h h h h h h"
        "ah ah ah ah ah ah ah ah ah ah ah ah"
        "ai ai ai ai ai ai ai ai ai ai ai ai"
        "m m m m m m m m ad ad ad ad"
        "f f f f f f f f f f f f"
    }
    .gallery-tiles {    
        grid-template-areas:
        "h h h h h h h h h h h h"
        "gh gh gh gh gh gh gh gh gh gh gh gh" 
        "ba ba ba ba ba ba bb bb bb bb bb bb"
        "bh bh bh bh bh bh bj bj bj bj bj bj"
        "bp bp bp bp bp bp bq bq bq bq bq bq"
        "f f f f f f f f f f f f"
        ;
    }

}

    /* @media (max-width: 42em) {
        .box{
            height: 10em;
    }
} */
    